/*common*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    
    --text-email: #6bcaf1;
    

}

body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
    
}

.row {
    width: 100%;
}

.row::after,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}



.col-4 {
    
    float: left;
    width: calc(100% / 12 * 4);
    padding: 0 1rem;
    margin-bottom: 2rem;
    

}

.text-center {
    text-align: center;
}

.mb-3{
    margin-bottom: 2rem;
}

/*utilities*/


#site_header h1 {
    color: #e43171;
    padding: 1.5rem;
}

/*header*/

.avatar,
.details{
    float: left;
}

.avatar {
    width: 100px;
    height: 100px;
}

.details {
    padding: 1.2rem;
    width: calc(100% - 100px);
    background-color: #0f0e17;
    color: white;
}

.details a {
    color: #5ab5f0;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.impiego {
    color: #ededed;
    
}


.card {
    box-shadow: 0 0 5px #0f0e17;
    
}
