/*common*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --h1-title: #e53170;
    --p-text: #121241;
    --bg-box: #0f0e17;
    --text-email: #6bcaf1;
    

}

/*header*/

header {
    text-align: center;
    max-width: 1170px;
    margin-left: 100px;
    margin-bottom: 40px;
    font-family: 'Fredoka' , sans-serif;
}



h1 {
    padding: 30px;
    color: #e53170;
}


p {
    color: #121241;
    font-size: medium;

    
}


/*main*/

.container {
    max-width: 1170px;
    margin: auto;
    width: 80%;
}

.col {
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    color: white;
    box-shadow: 0 0 5px black;
    
    

}


.col > img {
    height: 100px;
    float: left;
    padding-right: 0.2rem;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;

}
img {
    width: 5rem;
    margin-right: 1rem;
}


h3 {
    font-weight: 700;
    padding: 10px;
    
}

h5 {
    padding: 5px;
}

.impiego {
    color: rgb(158, 156, 156);
}

.email {
    color: #6bcaf1;
}